<html>
	<head>
		<title> {{titulo}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css"/>
		<link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>
    <header id="header">
				<div class="logo"><a href="http://localhost:4000"> {{titulo}} <span>by {{nombre}}</span></a></div>
				<a href="#menu"><span>Menu</span></a>
			</header>
