			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="usoapp">Usabilidad</a></li>
					<li><a href="elements">Elements</a></li>
					<li><a href="Colegios">Colegios</a></li>
					<li><a href="Cursos">Cursos</a></li>
					<li><a href="Materias">Materias</a></li>
					<li><a href="alumnos">Alumnos</a></li>
					<li><a href="formulario">Formulario</a></li>
					<li><a href="contacto">Contacto</a></li>
				</ul>
			</nav>