

		<!-- Header -->
			{{>  header}}

		<!-- Nav -->
			{{>  navbar}}

			<section id="banner" class="bg-img" data-bg="banner.jpg">
				<div class="inner">
					<header>
						<h1>{{nombre}}</h1>
					</header>
				</div>
				
			</section>

			<section id="one" class="wrapper post bg-img" data-bg="banner2.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Aplicacion de notas</h2>
							<p>esta aplicacion te permite cargar datos de alumnos </p>
						</header>
						<div class="content">
							<p>Esta aplicacion nos permite, guardar datos de alumnos por colegio, materia, curso, turno</p>
						</div>
					</article>
				</div>
			</section>

	{{> footer}}